table#board {
  border-collapse:collapse;
  margin: 0;
}
.tile{
  padding:0;
  background-color: #797979;
}
.tile div {
  width:15px;
  height: 15px;
  background: #c7cdc2;
  border-style: solid;
  border-width: 2px;
  border-top-color:#f8ffeb;
  border-left-color: #f8ffeb;
  border-bottom-color:#887983;
  border-right-color:#887983;
  font-size: 0.8em;
  font-weight: bold;
  cursor: default;
}
.mine{
  color: red;
}
.flag {
  color: blue;
  font-weight: bold;
}
.nearbymines-1{
  color: blue;
}
.nearbymines-2{
  color: green;
}
.nearbymines-3{
  color: red;
}
.nearbymines-4{
  color: darkblue;
}
.nearbymines-5{
  color: darkred;
}
.nearbymines-6{
  color: teal;
}
.nearbymines-7{
  color: rebeccapurple;
}
.tile.revealed div {
  background-color:transparent;
  border-color:transparent;
}
.btn{
  order: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 20px;
  display: inline-block;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 0 0 5px 5px;
}
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
}
#clock {

}
#clock span {

}
#FlagDisplay {

}
#FlagDisplay span {

}